<h1><%= @variety.name %></h1>
<p>Color: <%= @variety.color %></p>
<p>Wines:</p>
<div class="main_content">
  <ul>
    <% @wines.each do |wine| %>
      <li><%= link_to "#{wine.name} - #{wine.average_rating} stars", wine_path(wine) %></li>
    <% end %>
  </ul>
</div>
<% if current_user.admin %>
  <div class="btn">
    <%= link_to "Edit Variety", edit_variety_path(@variety) %>
  </div>
  <div class="btn">
    <%= link_to "Delete Variety", variety_path(@variety), method: "PATCH" %>
  </div>
<% end %>
<div class="btn"><%= link_to "Back to Wine List", wines_path %></div><br />
