<h1>Review for:</h1>
<p><%= link_to @review.wine.name, wine_path(@review.wine) %></p>
<p>by user: <%= @review.user.username %></p>
<p>Overall Rating: <%= @review.rating %></p>
<ul>
  <li>Heaviness: <%= @review.heaviness %></li>
  <li>Fruitiness: <%= @review.fruitiness %></li>
  <li>Acidity: <%= @review.acidity %></li>
</ul>
<p>Comments: </p>
<div class="small_content">
  <p>
    <% if @review.comments && @review.comments != "" %>
      <%= @review.comments %>
    <% else %>
      None
    <% end %>
  </p>
</div>
