<h1>Review for:</h1>
<p><%= link_to @review.wine.name, wine_path(@review.wine) %></p>
<p>by user: <%= @review.user.username %></p>
<p>Overall Rating: <%= @review.rating %></p>
<p>Heaviness: <%= @review.heaviness %></p>
<p>Fruitiness: <%= @review.fruitiness %></p>
<p>Acidity: <%= @review.acidity %></p>
<p>Comments: </p>
<p>
  <% if @review.comments != "" %>
    <%= @review.comments %>
  <% else %>
    None
  <% end %>
</p>
