<h1>Review for:</h1>
<p><%= link_to @review.wine.name, wine_path(@review.wine) %></p>
<p>by user: <%= @review.user.username %></p>
<p>Overall Rating: <%= @review.rating %></p>
<ul>
  <li>Heaviness: <%= @review.heaviness %></li>
  <li>Fruitiness: <%= @review.fruitiness %></li>
  <li>Acidity: <%= @review.acidity %></li>
</ul>
<p>Comments: </p>
<div class="small_content">
  <p>
    <% if @review.comments && @review.comments != "" %>
      <%= @review.comments %>
    <% else %>
      None
    <% end %>
  </p>
</div>
<% if current_user == @review.user || current_user.admin%>
  <div class="btn">
    <%= link_to "Edit Review", edit_review_path(@review) %>
  </div>
  <div class="btn">
    <%= link_to "Delete Review", review_path(@review), method: "DELETE" %>
  </div>
<% end %>
<div class="btn"><%= link_to "Back to Wine List", wines_path %></div><br />
