<h1>New Wine:</h1>
<%= form_for @wine do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br />
  <%= f.label "Variety:" %>
  <%= f.collection_select(:variety_id, @varieties, :id, :name) %> <br />
  <%= f.submit "Create Variety" %>

<% end %>
