<!DOCTYPE html>
<html>
  <head>
    <title>Somm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main_container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <br />
      <% if @logged_in %>
        <%= link_to "Log Out", logout_path, class: "btn" %>
      <% end %>
    </div>
    <div class="image_credit">Photo by
      <%= link_to "David Köhler", "https://unsplash.com/@davidkhlr", target: :_blank %>
      on <%= link_to "Unsplash", "https://unsplash.com/", target: :_blank %></div>
  </body>
</html>
